<!doctype html>
<html
  lang="{{ site.Language.Locale }}"
  dir="{{ or site.Language.Direction `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <header>{{ partial "header.html" . }}</header>

    <section class="banner-section">
      {{ $banner := "" }} {{ with .Params.banner }} {{ with $.Resources.Get .
      }}{{ $banner = . }}{{ end }} {{ end }} {{ if not $banner }} {{ with
      resources.Get "images/banner.jpg" }}{{ $banner = . }}{{ end }} {{ end }}
      {{ with $banner }}
      <div class="banner-wrapper">
        <img class="banner" src="{{ .RelPermalink }}" alt="" />
      </div>
      {{ end }}
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.description }}</p>
    </section>

    <main>
      {{ partial "sidemenu.html" . }}

      <section class="main-section">{{ block "main" . }}{{ end }}</section>
    </main>

    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
